{% extends "layout.html" %}

{% block content %}
    <h1 class="text-4xl font-bold mt-12 text-gray-100 mb-8">Search Results for "{{ query }}"</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for result in data %}
            <div class="flex flex-col bg-gray-800 hover:bg-gray-700 focus:bg-gray-600 focus:outline-none transition rounded-lg overflow-hidden shadow-md self-stretch transition-all duration-200 hover:scale-95 focus:ring-2 focus:ring-offset-2 focus:ring-green-500 hover:ring-2 hover:ring-offset-2 hover:ring-green-500 hover:ring-offset-gray-800">
                <a href="/watch/{{ result['video_id'] }}">
                  <img class="rounded w-full mb-2" src="{{ result['thumbnail_url'] }}" alt="{{ result['title'] }}">
                  <h2 class="p-4 pb-0 text-lg text-white font-medium">{{ result["title"] }}</h2>
                  <p class="p-4 pt-0 text-gray-400">{{ result["views"] }} views, {{ result["publishdate"] }}</p>
                </a>
                <div class="flex flex-col"></div>
                <p class="mt-auto p-4 pt-0 text-gray-400 hover:text-gray-300"><a class="" href="{{ result['channel_url'].replace('https://www.youtube.com', '') }}">{{ result['author'] }}</a></p>
              </div>
        {% endfor %}
    </div>
{% endblock %}
